<div class="container">

  <section class="copy_right">
    <p>Copyright © 2020. All Rights Reserved.</p>
  </section>

    <ul class="pages">
      <li>HOME</li>
      <li>FEATURES</li>
      <li>TERMS</li>
      <li>PRIVACY</li>
      <li>CONTACT US</li>
      <li>
        <a href="">
          <img src="assets/svg/facebook.svg" alt="facebook icon">
        </a>
        <a href="">
          <img src="assets/svg/instagram.svg" alt="instgram icon">
        </a>
        <a href="">
          <img src="assets/svg/twitter.svg" alt="twitter icon">
        </a>
      </li>
    </ul>



</div>
