<div class="wrapper">
  <div class="wrapper__heading">
    <h1>List Of Users</h1>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="firstName" sticky>
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> LAST NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMAIL </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef> BUDGET </th>
        <td mat-cell *matCellDef="let element"> {{element.budget}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> COUNTRY </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> PHONE </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

  <div class="wrapper__button">
    <button class="btn" routerLink="/sign-up">Go to form</button>
  </div>

</div>


